body {
    font-family: 'Rokkitt', serif;

    margin: 0;
}
header {
    background-color: #505050;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

aside {
    width: 300px;
    height: 100vh;
    text-align: center;
    background-color: darkgrey;
    float: left;
    padding: 10px;
}

form {
    margin-bottom: 40px;
}
main {
    padding-left: 305px;
    padding: 10px;
    
    float: left;
    
    
}

.currentWeather {
    border: black solid 2px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.644);
    text-shadow: black 4px 4px 3px;
    color: white;
    font-size: 25px;
    font-weight: ;
     
}


.fiveDay {
    margin-top: 10px;
}

.dayCard {
    color: white;
    background-color: rgba(20, 20, 20, 0.644);
    border: black solid 2px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center ;
    font-size: 20px;
}

.fiveDayIcon{
    display: block;
    margin: auto;
}

.cityBtn { 
    width: 95%;
    margin-bottom: 5px;
    font-size: 30px;
    border-radius: 1px;
    border: solid gray 2px;
    outline: none;
    padding: 10px;
    text-transform: capitalize;


}

.cityBtn:hover{
    opacity: .5;
}

.cityBtn:active {
    transform: scale(.9);
}

.uvIndex {
    border: black solid 5px;
    border-radius: 5px;
    padding: 10px;

}


.city {
    float: left;
    font-size: 50px;
    margin: 0;
    padding-top: 5px;
    
}

#weatherIcon {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    
}


.cardTitle {
    height: 60px;
}

p {
    margin-bottom: 20px;
}


@media (min-width: 1300px) {
    .dayCard {
        float: left;
    }
}